.root{
	-fx-background-color: #383838;
	-fx-text-fill: #F8F8F8;
	-fx-font-size: 11pt;
}

.button{
	-fx-background-color: #383838;
	-fx-border-color: #F8F8F8;
	-fx-text-fill: #F8F8F8;
}

.button:hover{
	-fx-background-color: #585858;
	-fx-border-color: #f8f8f8;
	-fx-text-fill: #f8f8f8;
}



#label-startscreen{
	-fx-text-fill: #f8f8f8;
	-fx-font-family: Ubuntu-Bold;
	-fx-font-size:20pt;
	-fx-font-weight: bold;
}

.list-view .list-cell:even{
	-fx-background-color: #585858;
	-fx-text-fill: #f8f8f8;
}

.list-view .list-cell:odd{
	-fx-background-color: #585858;
	-fx-text-fill: #f8f8f8;
}

#scene_confirm{
	-fx-border-color: #f8f8f8;
	-fx-border-radius: 5;
	-fx-border-width:3px;
	-fx-background-color:#432d2d;
}

#button_Coonfirm:hover{
	-fx-background-color: #541c1c;
	-fx-border-color: #f8f8f8;
	-fx-text-fill: #f8f8f8;
}


#gridpane_Mainstartiev:hover{
	-fx-border-color: #f8f8f8;
	-fx-border-radius: 5;
	-fx-border-width:3px;
}

#border{
	-fx-background-color: white;
}

#dernigga{
	-fx-font-size:11px;
}
