.root{
	-fx-background-color: #383838;
	-fx-text-fill: #F8F8F8;
	-fx-font-size: 11pt;
}

.button{
	-fx-background-color: #383838;
	-fx-border-color: #F8F8F8;
	-fx-text-fill: #F8F8F8;
}

.button:hover{
	-fx-background-color: #585858;
	-fx-border-color: #f8f8f8;
	-fx-text-fill: #f8f8f8;
}

.label{
	-fx-text-fill: #F8F8F8;
	-fx-font-size: 11pt
}

#label-startscreen{
	-fx-text-fill: #f8f8f8;
	-fx-font-family: Ubuntu-Bold;
	-fx-font-size:20pt;
	-fx-font-weight: bold;
}

